/* footer작업*/
.div_footer {
  width: 100%;
  height: 150px;
  background-color: chocolate;
  display: flex;
}
.div_footer > div {
  padding-top: 30px;
}
.div_footer > div:first-child {
  flex: 4;
  background-color: royalblue;
}
.div_footer > div:last-child {
  flex: 6;
  background-color: yellow;
}
.div_footer > div:first-child {
  text-align: center;
  font-weight: bold;
}
.div_footer > div {
  background-color: rgba(241, 157, 47, 0.9) !important;
}
